@import 'bootstrap/scss/bootstrap.scss';

:root {
    --navbar-height: 50px;
  
    @media (max-height: 768px) {
      --navbar-height: 44px;
    }
  }
  
  .app-container {
    margin: 0;
  }
  
  
  .content {
    padding: 20px;
  }
  
  .hr {
    color: white;
  }
<<<<<<< HEAD

  
=======
>>>>>>> 6efce7ca7b7c7dc5fa7dd2c95f9b770e32a94ef9
