:local {
  .title {
    font-weight: 500;
  }

  .description {
    white-space: pre-wrap;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .currentImage {
    text-align: center;

    > img {
      width: 100%;
      max-width: 200px;
    }
  }
}
